body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: skyblue; 
}
.pTitle{
    text-align: center;
    size: 15px;
    padding-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.technology{
    background-color: chartreuse;
}
.accounting{
    background-color: gold;
}
.seller{
    background-color: greenyellow;
}
.teller{
    background-color: darkorange;
}
.backing{
    background-color: SpringGreen ;
}
.delivery{
    background-color: Lime ;
}
.hr{
    background-color: PaleGoldenRod ;
}
.teacher{
    background-color: YellowGreen;
}
.footer{
    position: fixed;
    background-color: rgb(135, 219, 240);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 100%;
    left: 0;
    bottom: 0%;
    color: black;
}
.job,.fbimg,.googleimg,.about,.interview{
    text-align: center;
}
.about{
    padding-left: 140px;
}



