body{
    margin-left: 0;
    width: 100%;
    height: auto;
}
.row_form{
    margin-left: 15%;
    margin-right: 15%;
}
.form_body{
    margin-top: 35px;
}
.loginpic{
    margin-top: 50px;
    text-align: center;
}
